    <h1>La liste de toutes les recettes</h1>
    <h2>Voici toutes nos recettes et les recettes des utilisateurs !</h2>
    
<form class="d-flex" id="search" method="POST" action="">
    <input class="form-control me-2" type="text" aria-label="Search" name="search">
    <button class="btn btn-outline-success" type="submit" id="btn-srh">Search</button>
</form>

    {% for rct in recettes %}
        <div class="card" style="width: 18rem;">
        <img src="/"class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{rct.title}}</h5>
                <p class="card-text">{{rct.content}}</p>
                <a href="{{rct.id}}" class="btn btn-primary">Voir cette recette</a>
            </div>
        </div>
    {% endfor %}

    {% set pages = (total / limit)|round(0, 'ceil') %}
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item {{ (page == 1) ? 'disabled' : ''}}">
                <a class="page-link" href="{{ (page > 1) ? '?page=' ~ (page - 1) : ''}}">Précedent</a>
            </li>
        {% for item in 1..((total / limit)|round(0, 'ceil')) %}
            <li class="page-item {{(page == item) ? 'active' : ''}}">
                <a class="page-link" href="?page={{ item }}">{{ item }}</a>
            </li>
        {% endfor %}
            <li class="page-item {{ (page == pages) ? 'disabled' : ''}}">
                <a class="page-link" href="{{ (page < pages) ? '?page=' ~ (page + 1) : ''}}">Suivant</a>
            </li>
        </ul>
    </nav>