{% extends 'base.html.twig' %}

{% block title %}Le frigo{% endblock %}

{% block body %}
        <a href="{{ path('app_recettes_new') }}">Poster une recette</a>

        {% for recette in recettes %}

            <div class="rct-container">
                <div class="rct-main">
                    <h2>{{ recette.title }}</h2>
                    <img src="{{ asset('image/'~recette.image) }}" alt="{{ recette.title }}">
                    <a href="{{ path('app_recettes_show', {'id': recette.id}) }}">En savoir plus</a>
                    <a href="{{ path('app_recettes_edit', {'id': recette.id}) }}">Modifier</a>
                    {{ include('recettes/_delete_form.html.twig') }}
                </div>
            </div>

        {% endfor %}

{% endblock %}
