{% extends 'base.html.twig' %}

{% block title %}Le frigo{% endblock %}

{% block body %}
    <nav class='nav-navbar'>
         <ul>
            <li>
                    <a href="{{ path('app_recettes_new') }}" class="btn">Poster une recette</a>
            </li>
            <li>
                    <a href="{{ path('app_account_account-crud', {'id': app.user.id}) }}" class="btn">Modifier infos perso</a>
            </li>
        </ul>
    </nav>

        {% for recette in recettes %}

            <div class="rct-container">
                <div class="rct-main">
                    <h2>{{ recette.title }}</h2>
                    <img src="{{ asset('image/'~recette.image) }}" alt="{{ recette.title }}" class="rct-img">
                    <div class="rct-account">
                    {{ include('recettes/_delete_form.html.twig') }} 
                    </div>
                </div>
            </div>

        {% endfor %}

{% endblock %}
