{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {% if app.user %}
    
            <div class="mb-3">
                Tu es connecté, <a href="{{ path('app_logout') }}">Déconnection</a>
            </div>

    {% else %}
    
    <div class="form-container">
    {{ form_start(registrationForm, {'attr' : { 'class': 'form-login-content' }}) }}
    <h1>Inscription</h1>
        {{ form_errors(registrationForm) }}
        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Mot de passe'
        }) }}
        <div class="form-checkbox">
            {{ form_row(registrationForm.agreeTerms, {'attr' : { 'class': 'form-checkbox' }}) }}
        </div>
        
        <a href="{{ path('app_logout') }}" class="form-checkbox">Clique ici pour lire les CGU</a>

        <button type="submit" class="form-btn">Inscription</button>
    {{ form_end(registrationForm) }}
    </div>

    {% endif %}
{% endblock %}
