{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <h1>Toutes les recettes</h1>

        {% for recette in recettes %}
            <tr>
                <td>{{ recette.id }}</td>
                <td>{{ recette.title }}</td>
                <td>{{ recette.slug }}</td>
                <td>{{ recette.ingredient }}</td>
                <td>{{ recette.content }}</td>
                <td><img src="{{ asset('image/'~recette.image) }}" alt=""></td>
                <td>
                    <a href="{{ path('app_recettes_show', {'id': recette.id}) }}">show</a>
                    <a href="{{ path('app_recettes_edit', {'id': recette.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Pas de recette</td>
            </tr>
        {% endfor %}
    {% if app.user %}
        <a href="{{ path('app_recettes_new') }}">Poster une recette</a>
    {% endif %}
{% endblock %}
