{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <h1>Toutes les recettes</h1>

        {% for recette in recettes %}

            <div class="rct-container">
                <div class="rct-main">
                    <div class="rct-box">
                        <a href="{{ path('app_recettes_show', {'id': recette.id}) }}" class="rct-button">En savoir plus</a>
                    </div>
                    <h2>{{ recette.title }}</h2>
                    <img src="{{ asset('image/'~recette.image) }}" alt="{{ recette.title }}" class="rct-img">
                    
                    <a href="{{ path('app_recettes_like', {'id': recette.id}) }}" class="js-like">
                        <span class="js-likes"> {{recette.likes | length}} </span>
                    {% if app.user and recette.isLikedByUser(app.user) %}
                            <i class="fa-solid fa-heart"></i>
                    {% else %}
                            <i class="fa-regular fa-heart"></i>
                    {% endif %}
                    </a>
                </div>
            </div>

        {% endfor %}
        
{% block javascripts %}
    {{ encore_entry_script_tags('ajax') }}
{% endblock %}

{% endblock %}
