{% extends 'base.html.twig' %}

{% block title %}Recettes{% endblock %}

{% block body %}
    <h1>{{ recette.title }}</h1>

                <h2>Ingredients</h2>
                <p>{{ recette.ingredient }}</p>
                <h3>La préparation</h3>
                
                <img src="{{ asset('image/'~recette.image) }}" alt="">

                <p>{{ recette.content }}</p>

                <h4>Auteur : {{ user.username }} <img src="{{ asset('avatar/'~user.avatar) }}" alt="{{ user.username }}"></h4>

    <a href="{{ path('app_recettes_index') }}">Toutes les recettes</a>

{% endblock %}
